# non-PDF LaTeX output files
*.aux
*.log

# graphicx output files for PostScript document inputs
*-eps-converted-to.pdf

# Vim swap files
*.swp

# minted output files
/_minted-hello-world/*

/hello-world.pdf

/hello-world.*.pdf
