# Vim swap files
*.swp

# graphicx output files for PostScript document inputs
/*-eps-converted-to.pdf

# non-PDF LaTeX output files
/*.aux
/*.log

# minted output files
/_minted-*/*

/*.pdf

/*.[1-9]*.pdf

/plot.eps
